@import '../../assets/css/animations.scss';
.highlightsWrapper{
    margin-block-start: 100px;
    margin: var(--space-s-2xl);
    --animation-height:30vh;
  @include rightToLeft;
    h6{
     font-family: var(--monospace);
        color: var(--clr-primary);
        letter-spacing: 2px;
        line-height: 14px;
        font-weight: 500;
        text-align: center;
    }
    h2{
      text-align: center;
    }
}
.highlight{
  height: 90%;
  // margin-inline:var(--space-s-m);
  margin-block-start: var(--space-m-l);
  padding: var(--space-s-2xl);
  background: var(--gradient-box);
  box-shadow: var(--outer-shadow);
  border-radius: 5px;
  flex-shrink: 1;
  @include revel;
  .icon{
    padding-block-end: var(--space-s-m);
  @include revel;
  }
  .title{
    margin-block-end: var(--space-3xs-2xs);
    font-size: var(--step-2);
    font-weight: 500;
    color: var(--clr-black);
  @include revel;
  }
  .content{
    margin-block-end: var(--space-s-l);
    color: var(--clr-black);
  @include revel;

  }
}
.highlight:hover {
  --clr-icon:rgb(255, 255, 255) !important;
  background: var(--clr-gradient-primary);
  .highlight{
    scale: 1.1;
  }
  .title,.content{
    color: rgb(255, 255, 255);
  }
}
