<!-- <div class="row"> -->
  <div class="row cardStack">
    <div class="detailsCard col-lg-6"  *ngFor="let educationDetail of educationDetails">
      <div class="detailsHeading">
        <h5>{{educationDetail.title}}</h5>
        <h6>{{educationDetail.duration}}</h6>
        <div class="detailsGrade">
          <span>{{educationDetail.grade}}</span>
        </div>
      </div>
      <hr>
      <div class="detailsSummery">
        <p>
          {{educationDetail.summary}}
        </p>
      </div>
    </div>
  <!-- </div> -->
</div>
