<div class="resumeDetailsWrapper">
  <div class="cardStack">
    <div class="detailsCard"  *ngFor="let educationDetail of educationDetails">
      <div class="detailsHeading">
        <h5>{{educationDetail.title}}</h5>
        <h6>{{educationDetail.duration}}</h6>
        <div class="detailsGrade">
          <span>{{educationDetail.grade}}</span>
        </div>
      </div>
      <hr>
      <div class="detailsSummery">
        <p>
          {{educationDetail.summary}}
        </p>
      </div>
    </div>
  </div>
  <div class="cardStack">
    <div class="detailsCard"  *ngFor="let achivementDetail of achivementDetails">
      <div class="detailsHeading">
        <h5>{{achivementDetail.title}}</h5>
        <h6>{{achivementDetail.duration}}</h6>
        <div class="detailsGrade">
          <span>{{achivementDetail.grade}}</span>
        </div>
      </div>
      <hr>
      <div class="detailsSummery">
        <p>
          {{achivementDetail.summary}}
        </p>
      </div>
    </div>
  </div>
</div>
