@media (prefers-color-scheme: dark) {
  :root{
    --clr-heading-text:#ffffff;
    --clr-text:#EFF2F6;
    --clr-gray:#212428;
    --clr-dark-gray:#151618;
    --clr-background:var(--clr-gray);
    --clr-primary:hsl(342, 100%, 50%);
    --clr-white:#000000;
    --clr-black:#ffffff;
    --clr-gradient: linear-gradient(45deg,var(--clr-primary), hsl(342, 85%, 50%));
  }
}
