@mixin revel(){
  animation: revel linear forwards;
  animation-timeline: view();
  animation-range-start: cover 0vh;
  animation-range-end: cover var(--animation-height);
}
@mixin rightToLeft(){
  animation: rightToLeft linear forwards;
  animation-timeline: view();
  animation-range-start: cover 0vh;
  animation-range-end: cover var(--animation-height);
}
@keyframes revel {
  0%{
  transform: translateY(100%);
  opacity: 0;
  }
  100%{
  transform: translateY(0%);
    opacity: 1;
  }
  }
  @keyframes rightToLeft {
    0%{
    transform: translateX(100vw);
    opacity: 0;
    }
    100%{
    transform: translateX(0%);
      opacity: 1;
    }
    }

