:root{
  // --hue:550 add hue to change color
  --clr-heading-text:#3c3e41;
  --clr-text:#3c3e41;
  --clr-gray:#ecf0f3;
  --clr-background:var(--clr-gray);
  --clr-dark-gray:#d9dee2;
  --clr-primary:hsl(var( --hue,345), 100%, 50%);
  --clr-primary-dark:hsl(var( --hue,0), 83%, 45%);
  --clr-gradient: linear-gradient(45deg,var(--clr-heading-text), var(--clr-black));
  --clr-gradient-primary: linear-gradient(145deg, var(--clr-primary), var(--clr-primary-dark));
  --clr-white:#ffffff;
  --clr-black:#000000;

  --gradient-box: linear-gradient(145deg, var(--clr-background), var(--clr-white));
  --outer-shadow: 5px 5px 15px var(--clr-dark-gray), -5px -5px 15px var(--clr-white);
  --inner-shadow: 1px 4px 2px -3px rgb(var(--clr-black, .7)) inset, -1px -3px 3px -2px rgba(var(--clr-white) 0.2) inset;
}
