<div class="resumeDetailsWrapperPercentages">
  <div class="resumedetailsrow">
    <h3>{{designSkillDetails.title}}</h3>
    <div class="skillList" *ngFor="let educationDetail of designSkillDetails.skillsList">
      <h6>{{educationDetail.title}}</h6>

    </div>
  </div>
  <div class="resumedetailsrow">
    <h3>{{developmentSkillDetails.title}}</h3>
    <div class="skillList" *ngFor="let educationDetail of developmentSkillDetails.skillsList">
      <h6>{{educationDetail.title}}</h6>

    </div>
  </div>
</div>
