@import "../../assets/css/resume-template.scss";
@import '../../assets/css/animations.scss';
.skillList{
  margin:var(--space-m-l);
  position: relative;
  h6,.prcentageDiaplay{
    font-weight: 500;
    text-transform: uppercase;
  letter-spacing: 2px;
}
h6{
  padding-block-end: var(--space-s-m);
}
  .progress{
    height: 10px;
    border-radius: 100vw;
    align-items: center;
    background: var(--clr-dark-gray);
  }
  .prcentageDiaplay{
    color: var(--clr-text);
    position: absolute;
    left: 0;
    transform: translate(-50%, -100%);
    opacity: 0;
    animation: percentAnimate 0.5s ease-in-out 0.3s 1 normal forwards;

  }
  .progress-bar{
    height: 7px;
    width:0;
    border-radius: 100vw;
    background: linear-gradient(45deg,var(--clr-white), var(--clr-primary));
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-name: leftToRight;
    animation: leftToRight 0.5s ease-in-out 0.3s 1 normal forwards;
  }
}
@keyframes percentAnimate {
  0%{
    left: 0%;
    opacity: 0;
  }
  100%{
    left: calc(var(--precentageValue, 0) * 1%);
    opacity: 1;
  }
}
@keyframes leftToRight {
  0%{
    width: 0%;
  }
  100%{
    width:calc( var(--precentageValue,0) * 1%);
  }
}

.resumeDetailsWrapperPercentages{
display: grid;
}
@media screen and (width>=768px) {
  .resumeDetailsWrapperPercentages {
    grid-template-columns: 1fr 1fr;
  }
}
