@import '../css/animations.scss';
.resumedetailsrow h3 {
  text-align: center;
  padding-block: var(--space-s-m);
  @include revel;
}

.detailsCard {
  background: var(--gradient-box);
  box-shadow: var(--outer-shadow);
  margin-inline-end: var(--space-xs-s);
  margin-block-end: var(--space-xs-s);
  border-radius: 5px;
  padding: var(--space-s-l);
  flex-shrink: 1;
  --animation-height:60vh;
  @include revel;


  .detailsHeading {
    margin-block: var(--space-xs-s);

    h5 {
      color: var(--clr-black);
      margin-block-end: var(--space-2xs-xs);

    }

    h6 {
      font-family: var(--monospace);
      font-size: var(--step--1);
      letter-spacing: -1px;
      font-weight: 500;
      margin-block-end: var(--space-2xs-xs);

    }

    .detailsGrade {
      padding: var(--space-3xs) var(--space-xs);
      display: inline-block;
      border-radius: 5px;
      font-weight: 500;
      color: var(--clr-primary);
      background-color: var(--clr-white);
    }
  }

  hr {
    color: var(--clr-dark-gray);
  }

  .detailsSummery {
    p {
      font-size: var(--step-0);
      // font-family: var(--monospace);
      color: var(--clr-black);
      line-height: var(--space-s-m);
      text-align: left;
    }
  }
}

.resumeDetailsWrapper {
  display: grid;
}

.cardStack {
  --design-width: 5px;
  --design-top: 20%;
  --design-space: var(--space-s-2xl);
  margin-block-start: var(--space-s-m);
  padding-inline-start: calc(var(--design-space)/2);
  // padding-inline-end: 0;
  margin-inline-start: calc(var(--design-space)/2);
  border-inline-start: var(--design-width) solid var(--clr-dark-gray);

  .detailsCard {
    position: relative;
    margin-inline-start: calc(var(--design-space)/2);

  }

  .detailsCard::before {
    position: absolute;
    content: "";
    height: var(--design-width);
    width: var(--design-space);
    background: var(--clr-dark-gray);
    left: calc(var(--design-space)*-1);
    top: var(--design-top);
  }

  .detailsCard::after {
    position: absolute;
    content: "";
    width: calc(var(--design-width) *2);
    aspect-ratio: 1;
    border-radius: 100%;
    background: var(--clr-background);
    box-shadow: 0px 0px 0px var(--design-width) var(--clr-dark-gray);
    transform: translate(-25%, -25%);
    left: calc((var(--design-space) + var(--design-width)) * -1);
    top: var(--design-top);
  }
}

.cardStack :is(.detailsCard:hover) {
  --design-top: 50%;
}

.detailsCard:hover {
  background: var(--clr-gradient-primary);

  .detailsHeading {

    h6,
    h5 {
      color: #ffff;
    }

    .detailsGrade {
      color: var(--clr-white);
      background-color: var(--clr-primary);
    }
  }

  .detailsSummery {
    p {
      color: #ffff;
      text-align: left;
    }
  }
}

.detailsCard:hover::after {
  background: var(--clr-primary) !important;
}

@media screen and (width>=992px) {
  .resumeDetailsWrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@keyframes revel {
  0%{
  transform: translateY(100%);
  opacity: 0;
  }
  100%{
  transform: translateY(0%);
    opacity: 1;
  }
  }
