<div class="profileWrapper">
  <div class="animationBalls">
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
  </div>
  <div class="profileDetailsWrapper">
    <div class="profileImgWrapper">
      <div class="imgBackground">
        <div class="imgBorder"></div>
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="profile">
      </div>
      <h1>Aadarsh Yedire</h1>
      <h3 class="profession">
        <span>I am a </span>
        <span class="aniamteProfession">
          <div style="text-align: left;"> Developer.</div>
        </span>
        <span class="marker"></span>
      </h3>
    </div>
  </div>
</div>


