/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./src/styles.scss?ngGlobalStyle ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
:root {
  --clr-heading-text:#3c3e41;
  --clr-text:#3c3e41;
  --clr-gray:#ecf0f3;
  --clr-background:var(--clr-gray);
  --clr-dark-gray:#d9dee2;
  --clr-primary:#ff014f;
  --clr-primary-dark:#d11414;
  --clr-gradient: linear-gradient(45deg,var(--clr-heading-text), var(--clr-black));
  --clr-gradient-primary: linear-gradient(145deg, var(--clr-primary), var(--clr-primary-dark));
  --clr-white:#ffffff;
  --clr-black:#000000;
  --gradient-box: linear-gradient(145deg, var(--clr-background), var(--clr-white));
  --outer-shadow: 5px 5px 15px var(--clr-dark-gray), -5px -5px 15px var(--clr-white);
  --inner-shadow: 1px 4px 2px -3px rgb(var(--clr-black, .7)) inset, -1px -3px 3px -2px rgba(var(--clr-white) 0.2) inset;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-heading-text:#ffffff;
    --clr-text:#EFF2F6;
    --clr-gray:#212428;
    --clr-dark-gray:#151618;
    --clr-background:var(--clr-gray);
    --clr-primary:hsl(342, 100%, 50%);
    --clr-white:#000000;
    --clr-black:#ffffff;
    --clr-gradient: linear-gradient(45deg,var(--clr-primary), hsl(342, 85%, 50%));
  }
}
/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --fs-font:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --fs-font-heading: var(--fs-font);
  --monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --step--4: clamp(0.512rem, 0.5532rem + -0.0531vi, 0.5425rem);
  --step--3: clamp(0.64rem, 0.6549rem + -0.0192vi, 0.651rem);
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem); /* Step -1: 15px → 16px */
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem); /* Step 0: 18px → 20px */
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem); /* Step 1: 21.6px → 25px */
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem); /* Step 2: 25.92px → 31.25px */
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem); /* Step 3: 31.104px → 39.0625px */
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem); /* Step 3: 31.104px → 39.0625px */
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem); /* Step 5: 44.7898px → 61.0352px */
}

:root {
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vi, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vi, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vi, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vi, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vi, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vi, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vi, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vi, 7.5rem);
  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vi, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vi, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vi, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vi, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vi, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vi, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vi, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vi, 7.5rem);
  --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vi, 2.5rem);
  --space-s-2xl: clamp(1.125rem, 0.6467rem + 2.8261vi, 5rem);
}

@keyframes revel {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes leftToRight {
  0% {
    transform: translateX(-50vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  color-scheme: light dark;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--clr-background);
}

h1 {
  color: var(--clr-heading-text);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-font-heading);
  color: var(--clr-text);
  text-wrap: balance;
}

p {
  font-family: var(--fs-font);
  text-align: justify;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

h6 {
  font-size: var(--step-0);
}

p {
  font-size: var(--step--1);
}

.icon {
  width: 50px;
  height: auto;
  fill: var(--clr-icon, var(--clr-primary)) !important;
  stroke-width: 1 !important;
  color: var(--clr-icon, var(--clr-primary)) !important;
}

/*# sourceMappingURL=styles.css.map*/